{% extends './base.html' %}

{% include './messages.html' %}

{% block content %}
    <h1 class="text-xl">{{ username }} profile</h1>

    <h4 class="text-lg">Name: {{ fullname }}</h4>
    <h4 class="text-lg">Email: {{ email }}</h4>

    <a href="{% url 'user:checkpassword' %}" class="underline text-blue-500 visited:text-purple-500">Check password</a><br>
    <a href="{% url 'user:recoverpassword' %}" class="underline text-blue-500 visited:text-purple-500">Recover password via Email</a><br>
    <a href="{% url 'user:changepassword' %}" class="underline text-blue-500 visited:text-purple-500">Change password</a><br>
{% endblock %}
