{% extends './base.html' %}

{%block content %}
	{% if user_feed %}
		<ol>
			{% for post in user_feed %}
				<li>
					<form action="{% url 'forum:vote' post.uuid %}" style="display: inline;" method="post">
						{% csrf_token %}
						<fieldset style="border:none; display: inline;">
							<span>Votes: {{ post.votes }} | </span>

							<input type="submit" value="Vote">
						</fieldset>
					</form>
					<a href="/forum/{{ post.uuid }}/">{{ post.title }}</a>
				</li>
			{% endfor %}
		</ol>
		<div class="pagination">
			{% if user_feed.has_previous %}
			<a href="?page={{ user_feed.previous_page_number }}">&laquo; previous</a>
			{% endif %}

			<span class="current">
				Page {{ user_feed.number }} of {{ user_feed.paginator.num_pages }}.
			</span>

			{% if user_feed.has_next %}
				<a href="?page={{ user_feed.next_page_number }}">next &raquo;</a>
			{% endif %}
		</div>
	{% else %}
		<p>No posts are available.</p>
	{% endif %}
	<br/>
	<a href="{% url 'forum:newpost' %}" class="btn-blue">||| Add new post |||</a>
{% endblock %}
