{% extends './base.html' %}

{%block content %}
	{% if latest_posts %}
		<ol>
			{% for post in latest_posts %}
				<li>
					<form action="{% url 'forum:vote' post.uuid %}" style="display: inline;" method="post">
						{% csrf_token %}
						<fieldset style="border:none; display: inline;">
							<span>Votes: {{ post.votes }} | </span>

							<input type="submit" value="Vote">
						</fieldset>
					</form>
					<a href="../{{ post.uuid }}/">{{ post.title }}</a>
				</li>
			{% endfor %}
		</ol>
		<div class="pagination">
			{% if latest_posts.has_previous %}
			<a href="?page={{ latest_posts.previous_page_number }}">&laquo; previous</a>
			{% endif %}

			<span class="current">
				Page {{ latest_posts.number }} of {{ latest_posts.paginator.num_pages }}.
			</span>

			{% if latest_posts.has_next %}
				<a href="?page={{ latest_posts.next_page_number }}">next &raquo;</a>
			{% endif %}
		</div>
	{% else %}
		<p>No posts are available.</p>
	{% endif %}
	<br/>
	<a href="{% url 'forum:newpost' %}">||| Add new post |||</a>
{% endblock %}
