<a href="{% url 'forum:register' %}">Register</a>
<a href="{% url 'forum:login' %}">Login</a>

{% if user is not None %}
	<span id="username">Logged in as {{ user }}</span>
{% endif %}

{% if latest_posts %}
	<ol>
		{% for post in latest_posts %}
			<li>
				<form action="{% url 'forum:vote' post.uuid %}" method="post">
					{% csrf_token %}
					<fieldset style="border:none">					
						<span>Votes: {{ post.votes }} | </span>
				
						<input type="submit" value="Vote">
					</fieldset>
				</form>
				<a href="{{ post.uuid }}/">{{ post.title }}
			</li>
		{% endfor %}
	</ol>
{% else %}
	<p>No posts are available.</p>
{% endif %}
<br/>
<a href="{% url 'forum:newpost'  %}">||| Add new post |||</a>
