<h1>{{ post.title }}</h1>
<a href="{{ post.url }}">{{ post.url }}</a>
<p>
	{{ post.content }} <br><br>
	<b>Posted by: {{ post.username }} </b>
</p>

<ul>
	{% for comment in comments %}
		<li>
			<form action="{% url 'forum:addlike' comment.id %}" method="post">
				{% csrf_token %}
				<fieldset style="border:none">					
					<span>Likes: {{ comment.votes }} | </span>
			
					<input type="submit" value="Like it">
				</fieldset>
			</form>
			<span><b>{{ comment.username }}:</b></span>
			<span>{{ comment.content }}</span>
		</li>
	{% endfor %}
</ul>

<a href="{% url 'forum:newcomment' post.id %}">|||Add new comment|||</a>

